body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #fefefe;
    padding: 6px;
    display: flex;
    align-items: center;
}
.navbar a.buat{
    background-color: #243757;
    color:#fefefe ;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    width: 70px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    margin-right: 10px;
    margin-left: -20px;
  }
.logo {
    width: 50px;
    height: 50px;
    margin: 0 20px;
}

.nav-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-right: 30px;
    font-weight: bold;
}
.nav-link:hover{
    color: grey;
    text-decoration: none;
}

.search-input {
    padding: 8px;
    padding-left: 20px;
    border: none;
    border-radius: 20px;
    margin: 0 20px;
    width: 65%;
    height: 40px;
    margin-left: -5px;
    background-color: #dfe2e6;
}
@media screen and (max-width: 768px) {
    .nav-link {
        width: 5%;
        margin-left: 10px;
    }
    .logo{
        margin-left: 10px;
    }
}
/* CSS untuk tombol ikon dan dropdown menu */
.icon-button {
    color: black;
    font-size: 25px;
    margin: 15px;
    text-decoration: none;
}

.account-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    z-index: 1;
    top: 50px;
}
#dropdown-bell{
    width: 200px;
    left: -20px;
}
#dropdown-comment{
    width: 250px;
    left: -120px;
}
#dropdown-account{
    top: 60px;
    width: 150px;
    left: -75px;
}

.dropdown:focus-within .dropdown-content {
    display: block;
}

.dropdown-content h4 {
    margin: 10px 15px;
    text-align: left;
}
.dropdown-content input[type="text"] {
    width: 80%;
    padding: 8px;
    margin: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.dropdown-content a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: black;
}
.dropdown-content a:hover {
    color: rgb(150, 150, 150);
}
.dropdown:focus-within .icon-button {
    color: rgb(2, 2, 194);
}
#msk{
    margin-left: 8px;
}

/* Buat */
.bingkai {
    width: auto;
    height: auto;
    margin-top: 80px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cover-buat{
    border: 2px solid lightgray;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 80%;
}

.deskripsi{
    padding-left: 15px;
}
.judul{
    margin-bottom: 50px;
}
#kiri{
    max-width: 35%;
    height: 100%;
    float: left;
}
#kiri p{
    font-size: 14px;
    margin-top: -15px;
    margin-bottom: 30px;
}
#kanan{
    background-color: #2B4AEA;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 90px 30px 0px 30px;
}
#kanan input{
    width: 100%;
    height: 30px;
    border-radius: 8px;
    border: none;
    box-shadow: 2px 2px 5px rgb(143, 143, 143);
}
.jarak{
    margin-bottom: 60px;
}
.pilih{
    width: 200px;
    height: 20px;
    border-radius: 5px;
}
.kotak{
    border: 2px dashed rgb(79, 79, 79);
    background-color: white;
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.kotak:hover{
    border: 2px dashed rgb(7, 193, 7);
    color: rgb(7, 193, 7);
}
.kry{
    margin-top: 50px;
}
.lkh{
    margin-top: 50px;
}
#langkah div{
    margin-top: 10px;
    margin-bottom: 10px;
}
.jarak i{
    font-size: 1.5em;
    margin-top: 10px;
    display: flex;
    cursor: pointer;
    color: white;
}
.jarak i:hover{
    color: rgb(1, 174, 1);
}

.tombol-section{
    width: 90%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 80px;
}
.duatombol {
    display: flex;
}
.tombol{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid lightgray;
    cursor: pointer;
    font-weight: bold;   
}
#btl{
    margin-right: 10px;
}
#btl a{
    text-decoration: none;
}
#btl:hover{
    background-color: rgb(203, 203, 203);
}
#smp{
    background-color: #2B4AEA;
    color: white;
}
#smp:hover{
    background-color: #233dbe;
}

