body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  width: 100;
}

#home {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 80vh;
}

ul {
  list-style: none;
}

.navbar {
  z-index: 1;
  position: absolute;
  width: 100%;
  padding: 6px;
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  margin: 0 20px;
}

.nav-link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-right: 30px;
  font-weight: bold;
}

.nav-link:hover {
  color: grey;
  text-decoration: underline;
}

.search-input {
  padding: 8px;
  padding-left: 20px;
  border: none;
  border-radius: 20px;
  margin: 0 20px;
  width: 65%;
  height: 40px;
  margin-left: -5px;
  background-color: #dfe2e6;
}

/* CSS untuk tombol ikon dan dropdown menu */
.icon-button {
  color: black;
  font-size: 25px;
  margin: 15px;
  text-decoration: none;
}

.account-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 1;
  top: 50px;
}

#dropdown-bell {
  width: 200px;
  left: -20px;
}

#dropdown-comment {
  width: 250px;
  left: -120px;
}

#dropdown-account {
  top: 60px;
  width: 150px;
  left: -75px;
}

.dropdown:focus-within .dropdown-content {
  display: block;
}

.dropdown-content h4 {
  margin: 10px 15px;
  text-align: left;
}

.dropdown-content input[type="text"] {
  width: 80%;
  padding: 8px;
  margin: 10px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dropdown-content a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: black;
}

.dropdown-content a:hover {
  color: rgb(150, 150, 150);
}

.dropdown:focus-within .icon-button {
  color: rgb(2, 2, 194);
}

.dropdown:hover .dropdown-content {
  display: block;
}

#msk {
  margin-left: 8px;
}

#about {
  width: auto;
  height: 100vh;
  position: relative;
}
.container {
  position: relative;
}
.lgo{
  width: 200px;
}
/*
.top-img{
    height: 572px;
    display: flex;
    align-items: center;
    justify-content: center;


    width: 100%;
    height: 100%;
    top: 300px;
    
}
.bg-img{
    position: relative;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    transition: border-radius 0.3s, padding 0.3s;
}

.bg-img h1{
    margin-left: 15%;
    margin-top: 15%;
    color: #2b4aea;
    position: absolute;
    top: 10px;
    left: 230px;
    font-size: 62px;
    white-space: nowrap;
    font-size: 100px;
} */

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  padding: 100%;
}

/* .top-img img {
    width: 100%;
} */

.row {
  margin: 30px;
  padding: 20px;
  display: flex;

  margin-left: 50px;
}

.columns {
  flex: 50%;
  padding: 10px;
  height: 20vh;
}

.row .columns h1 {
  color: #243757;
  text-align: left;
}

.row .columns p {
  color: #243757;
  text-align: justify;
  max-width: 80%;
}

.content {
  display: flex;
  width: auto;
  height: 70vh;
}

.overlap-wrapper-1 {
  position: absolute;
  width: 940px;
  height: 220px;
  top: 300px;
  left: 80px;
}

.overlap-1 {
  position: relative;
  height: 220px;
  background-size: cover;
  background-position: 50% 50%;
  transition: border-radius 0.3s, padding 0.3s;
}

.overlap-1:hover {
  border-radius: 24px;
  padding: 5px 5px 5px 5px;
}

.text-wrapper-1 {
  position: absolute;
  top: 10px;
  left: 230px;
  font-size: 62px;
  color: #fafbfb;
  white-space: nowrap;
}

.overlap-wrapper-2 {
  position: absolute;
  width: 460px;
  height: 220px;
  top: 550px;
  left: 80px;
}

.overlap-2 {
  position: relative;
  height: 220px;
  background-size: cover;
  background-position: 50% 50%;
  transition: border-radius 0.3s, padding 0.3s;
}

.overlap-2:hover {
  border-radius: 24px;
  padding: 5px 5px 5px 5px;
}

.text-wrapper-2 {
  position: absolute;
  top: 20px;
  left: 100px;
  white-space: nowrap;
  font-size: 62px;
  color: #fafbfb;
}

.overlap-wrapper-3 {
  position: absolute;
  width: 460px;
  height: 220px;
  top: 550px;
  left: 560px;
}

.overlap-3 {
  position: relative;
  height: 220px;
  background-size: cover;
  background-position: 50% 50%;
  transition: border-radius 0.3s, padding 0.3s;
}

.overlap-3:hover {
  border-radius: 24px;
  padding: 5px 5px 5px 5px;
}

.text-wrapper-3 {
  position: absolute;
  top: 10px;
  left: 150px;
  font-size: 62px;
  color: #fafbfb;
  white-space: nowrap;
}

.overlap-wrapper-4 {
  position: absolute;
  width: 320px;
  height: 500px;
  top: 300px;
  left: 1040px;
}

.overlap-4 {
  position: relative;
  height: 470px;
  background-image: url(assets/image-4.png);
  background-size: cover;
  background-position: 50% 50%;
  transition: border-radius 0.3s, padding 0.3s;
}

.overlap-4:hover {
  border-radius: 24px;
  padding: 5px 5px 5px 5px;
}

.text-wrapper-4 {
  position: absolute;
  top: 150px;
  left: 70px;
  font-size: 62px;
  color: #fafbfb;
  white-space: nowrap;
}

footer {
  color: #243757;
  padding: 20px 0;
  margin-top: 75%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  margin-left: 5%;
}

.web-info {
  flex: 2;

  padding-right: 200px;
}

.web-info h1 {
  font-size: 24px;
  color: #2b4aea;
  margin-bottom: 20px;
}

.footer-links {
  flex: 3;
  display: flex;
  justify-content: space-between;
}

.footer-links li {
  margin-bottom: 20px;
  margin-top: 20px;
}

.footer-content h3 {
  color: #2b4aea;
}

.kategori,
.sumber-daya,
.hubungi-kami {
  flex: 1;
}

ul {
  list-style: none;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

input,
button {
  margin: 5px 0;
  padding: 5px;
  height: 40px;
  border-radius: 8px;
}

input {
  border: #d2d2d3 solid 1px;
}

button {
  color: #fafbfb;
  background-color: #2b4aea;
  cursor: pointer;
  border: none;
}

.footer-line {
  border-top: 1px solid #d2d2d3;
  margin: 20px 0;
  max-width: 90%;
  margin-left: 5%;
}

.footer-line-top {
  border-top: 1px solid #d2d2d3;
  margin: 20px 0;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  margin-left: 5%;
}

.social-media a {
  color: #243757;
  text-decoration: none;
  margin-left: 12px;
}

.social-media a:hover {
  color: #007bff;
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;

  justify-content: center;
  text-align: center;
  background-image: url(../assets/bg.jpg); /* Ganti 'path/ke/gambar-anda.jpg' dengan path gambar Anda */
  background-size: cover; /* Menyesuaikan gambar agar sesuai dengan ukuran elemen */
  background-position: center center; /* Menengahkan gambar */
  background-repeat: no-repeat;
  z-index: 1;
}
.main h1 {
  text-align: center;
  text-transform: uppercase;
  color: #007bff;
  font-size: 4rem;
}
.roller {
  /* Mengatur elemen .roller agar berada di sebaris dengan teks di dalam .main */
   /* Mengatur elemen .roller agar sejajar dengan teks di atasnya */
}

#rolltext {
  display: block; /* Mengubah teks di dalam .roller menjadi elemen blok agar satu per baris */
   /* Memberikan margin agar ada ruang di atas dan di bawah setiap teks */
}

.main img{
  max-width: 15%;
  display: block; 

}

.roller {
  height: 4.125rem;
  line-height: 4rem;
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #1d3557;
}

#spare-time {
  font-size: 1rem;
  font-style: italic;
  letter-spacing: 1rem;
  margin-top: 0;
  color: #001eff;
}

.roller #rolltext {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;
}

@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -4rem;
  }
  50% {
    top: -8rem;
  }
  72.5% {
    top: -12.25rem;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    text-align: center;
    text-transform: uppercase;
    color: #007bff;
    font-size: 2.125rem;
  }

  .roller {
    height: 2.6rem;
    line-height: 2.125rem;
  }

  #spare-time {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }

  .roller #rolltext {
    animation: slide-mob 5s infinite;
  }

  @keyframes slide-mob {
    0% {
      top: 0;
    }
    25% {
      top: -2.125rem;
    }
    50% {
      top: -4.25rem;
    }
    72.5% {
      top: -6.375rem;
    }
  }
}
