* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.navbar {
  background-color: #fefefe;
  padding: 6px;
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  margin: 0 20px;
}

.nav-link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-right: 30px;
  font-weight: bold;
}
.nav-link:hover {
  color: grey;
  text-decoration: underline;
  text-decoration: none !important;
}

.search-input {
  padding: 8px;
  padding-left: 20px;
  border: none;
  border-radius: 20px;
  margin: 0 20px;
  width: 65%;
  height: 40px;
  margin-left: -5px;
  background-color: #dfe2e6;
}
@media screen and (max-width: 768px) {
  .nav-link {
    width: 5%;
    margin-left: 10px;
  }
  .logo {
    margin-left: 10px;
  }
}

/* CSS untuk tombol ikon dan dropdown menu */
.icon-button {
  color: black;
  font-size: 25px;
  margin: 15px;
  text-decoration: none;
}

.account-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 1;
  top: 50px;
}
#dropdown-bell {
  width: 200px;
  left: -20px;
}
#dropdown-comment {
  width: 250px;
  left: -120px;
}
#dropdown-account {
  top: 60px;
  width: 150px;
  left: -75px;
}

.dropdown:focus-within .dropdown-content {
  display: block;
}

.dropdown-content h4 {
  margin: 10px 15px;
  text-align: left;
}
.dropdown-content input[type="text"] {
  width: 80%;
  padding: 8px;
  margin: 10px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.dropdown-content a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: black;
}
.dropdown-content a:hover {
  color: rgb(150, 150, 150);
}
.dropdown:focus-within .icon-button {
  color: #2b4aea;
}
#msk {
  margin-left: 8px;
}

.card-container {
  width: 100%;
  columns: 5;
  column-gap: 20px;
  padding: 20px;
}

.card {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.card img {
  width: 100%;
}

.keterangan {
  padding: 10px;
}

.keterangan p {
  margin: 0;
}

.user {
  display: flex;
  align-items: center;
  padding: 10px;
}

.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  margin: 0;
  flex-grow: 1; /* Membuat nama pengguna mengisi ruang yang tersedia */
}

.aksi {
  display: flex;
}

.aksi i {
  font-size: 20px;
  cursor: pointer;
  margin-left: 10px; /* Menambahkan margin antara ikon */
}

.fa-heart {
  color: red;
}

.fa-bookmark {
  color: #333;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pagination span {
  padding: 5px 10px;
  margin: 0 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 6px;
}

.pagination span:hover {
  background-color: #f2f2f2;
}

.footer {
  color: #243757;
  padding: 20px 0;
  margin-top: 10%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  margin-left: 5%;
}

.web-info {
  flex: 2;

  padding-right: 200px;
}

.web-info h1 {
  font-size: 24px;
  color: #2b4aea;
  margin-bottom: 20px;
}

.footer-links {
  flex: 3;
  display: flex;
  justify-content: space-between;
}

.footer-links li {
  margin-bottom: 20px;
  margin-top: 20px;
}

.footer-content h3 {
  color: #2b4aea;
}

.kategori,
.sumber-daya,
.hubungi-kami {
  flex: 1;
}

ul {
  list-style: none;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

input,
button {
  margin: 5px 0;
  padding: 5px;
  height: 40px;
  border-radius: 8px;
}

input {
  border: #d2d2d3 solid 1px;
}

button {
  color: #fafbfb;
  background-color: #2b4aea;
  cursor: pointer;
  border: none;
}

.footer-line {
  border-top: 1px solid #d2d2d3;
  margin: 20px 0;
  max-width: 90%;
  margin-left: 5%;
}
.footer-line-top {
  border-top: 1px solid #d2d2d3;
  margin: 20px 0;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  margin-left: 5%;
}

.social-media a {
  color: #243757;
  text-decoration: none;
  margin-left: 12px;
}

.social-media a:hover {
  color: #007bff;
}
