body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #fefefe;
    padding: 6px;
    display: flex;
    align-items: center;
}
.navbar a.lomba{
    background-color: #243757;
    color:#fefefe ;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    width: 80px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    margin-right: 10px;
    margin-left: -20px;
}

.logo {
    width: 50px;
    height: 50px;
    margin: 0 20px;
}

.nav-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-right: 30px;
    font-weight: bold;
}
.nav-link:hover{
    color: grey;
    text-decoration: underline;
}

.search-input {
    padding: 8px;
    padding-left: 20px;
    border: none;
    border-radius: 20px;
    margin: 0 20px;
    width: 65%;
    height: 40px;
    margin-left: -5px;
    background-color: #dfe2e6;
}
@media screen and (max-width: 768px) {
    .nav-link {
        width: 5%;
        margin-left: 10px;
    }
    .logo{
        margin-left: 10px;
    }
}

/* CSS untuk tombol ikon dan dropdown menu */
.icon-button {
    color: black;
    font-size: 25px;
    margin: 15px;
    text-decoration: none;
}

.account-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    z-index: 1;
    top: 50px;
}
#dropdown-bell{
    width: 200px;
    left: -20px;
}
#dropdown-comment{
    width: 250px;
    left: -120px;
}
#dropdown-account{
    top: 60px;
    width: 150px;
    left: -75px;
}

.dropdown:focus-within .dropdown-content {
    display: block;
}

.dropdown-content h4 {
    margin: 10px 15px;
    text-align: left;
}
.dropdown-content input[type="text"] {
    width: 80%;
    padding: 8px;
    margin: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.dropdown-content a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: black;
}
.dropdown-content a:hover {
    color: rgb(150, 150, 150);
}
.dropdown:focus-within .icon-button {
    color: rgb(2, 2, 194);
}
#msk{
    margin-left: 8px;
}

/* copy start */
:root {
    --primary: #2b4aea;
    --bg: #8993a4;
    --bg1: #ffffff;
    --bg2: #000;
}

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--bg1);
    color: black;
}

  /* hero  section */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 65vh;
    background-image: url("../assets/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

  /* hero content */
.hero .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
}

.hero .content h1 {
    font-size: 3em;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.9);
}

.hero .content h1 span {
    color: var(--bg2);
}

.hero img {
    width: 200px;
    height: 200px;
}

  /* pilihan */

.pilihan {
    padding: 1.4rem 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pilihan h2 span {
    font-size: 1em;
    color: rgb(0, 0, 0);
}

.menu .row {
    display: flex;
    flex-wrap: wrap;
}

  /* copy end */